/*
|--------------------------------------------------------------------------
| Block
|--------------------------------------------------------------------------
| @namespace: pntr-
|
*/

/*
|--------------------------------------------------------------------------
| List
|--------------------------------------------------------------------------
|
*/
.pntr-Block_List {
  list-style: none;

  @media (--sm) {
    @include Grid_Row();

    flex-wrap: wrap;
  }
}

.pntr-Block_ListItem {
  margin-top: calc(var(--Grid_Gutter) * 2);

  @media (--sm) {
    @include Grid_Column(1, 2);
  }

  @media (--lg) {
    @include Grid_Column(1, 3);
  }

  &:first-child {
    margin-top: 0;
  }

  &:nth-child(-n+2) {
    @media (--sm) {
      margin-top: 0;
    }
  }

  &:nth-child(-n+3) {
    @media (--lg) {
      margin-top: 0;
    }
  }
}

/*
|--------------------------------------------------------------------------
| Block
|--------------------------------------------------------------------------
|
*/
.pntr-Block {
  position: relative;

  align-items: center;
  justify-content: center;

  display: flex;
  height: 160px;

  border: 1px solid var(--Color_Border);

  &:hover {
    &::before,
    &::after {
      opacity: 1;
    }
  }

  &::before,
  &::after {
    opacity: 0;

    transition: opacity 0.3s;
  }

  &::before {
    content: '';

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    align-items: center;
    justify-content: center;

    display: flex;

    background-color: var(--Color_Purple);
  }

  &::after {
    @apply --Font-13;

    content: 'Visit partner website';

    position: absolute;
    top: 50%;
    left: 50%;

    padding-bottom: 5px;

    font-family: var(--Font_Family-robotoCondensed);
    font-weight: 700;
    letter-spacing: calc(200em / 1000);
    text-transform: uppercase;
    white-space: nowrap;

    border-bottom: 3px solid var(--Color_Blue);
    color: #fff;

    transform: translate(-50%, -50%);
  }
}
