{% extends "base.html" %}
{% load html static thumbnail %}
{% load render_bundle from webpack_loader %}

{% block content_above %}
  <div class="pg-Strip">
    <div class="pg-Strip_Inner">
      <div class="pg-Strip_Content">
        <p class="pg-Strip_Page">{{ pages.current.title }}</p>
        <h1 class="pg-Strip_Title">{{ partner.title }}</h1>
      </div>
    </div>
  </div>
{% endblock %}

{% block main_class %}lyt-Main-centered{% endblock %}

{% block content_inner %}
  <article class="art-Article">
    <h4 class="ptn-ProfileTitle">{{ partner.title }}</h4>

    <div class="wys-Outer">
      <div class="ptn-ProfileImage wys-Image-right">
        {% thumbnail partner.card_logo.file '248' as image %}
          <img src="{{ image.url }}" {% if partner.card_logo.alt_text %}alt="{{ partner.card_logo.alt_text }}"{% endif %}>
        {% endthumbnail %}
      </div>

      {% if partner.email or partner.website %}
        <div class="ptn-ProfileImage_Caption wys-Image_Caption">
          Connect with {{ partner.title }}

          <div class="ptn-Image_SocialItems">
            {% if partner.email %}
              <a class="ptn-Image_SocialItem" href="mailto:{{ partner.email }}" target="_blank">
                <i class="fa fa-envelope"></i>
              </a>
            {% endif %}

            {% if partner.website %}
              <a class="ptn-Image_SocialItem" href="{{ partner.website }}" target="_blank">
                <i class="fa fa-globe"></i>
              </a>
            {% endif %}
          </div>
        </div>
      {% endif %}

      {{ partner.profile_text|html }}
    </div>

    {% if partner.academic_partners.all or partner.other_partners.all %}
      <div class="ptn-Programmes">
        <h4 class="ptn-Programmes_Title">Associated work programmes</h4>

        {% for programme in partner.academic_partners.all %}
          <div class="ptn-Programme">
            <h5 class="ptn-Programme_Title">{{ programme.title }}</h5>
            <p class="ptn-Programme_Summary">{{ programme.summary }}</p>
            <a class="ptn-Action" href="{{ programme.get_absolute_url }}">Explore programme</a>
          </div>
        {% endfor %}

        {% for programme in partner.other_partners.all %}
          <div class="ptn-Programme">
            <h5 class="ptn-Programme_Title">{{ programme.title }}</h5>
            <p class="ptn-Programme_Summary">{{ programme.summary }}</p>
            <a class="ptn-Action" href="{{ programme.get_absolute_url }}">Explore programme</a>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </article>
{% endblock %}

{% block compressed_js_last %}
  {% render_bundle 'wysiwyg' %}
{% endblock %}
